// main colors
$white:       #ffffff;
$light-grey:  #f5f5f5;

$fawn:        #B5A7A3;
$light-green: #9BD8CB;
$light-blue:  #78B7E7;
$reddy-brown: #974148;
$mauve:       #A0807A;

$text:        #333333;
$light-grey-text: lighten($text, 20%);
