<div class="footer">
  <div class="container">
    <ul class="contact">
      <li class="item">
        <a href="mailto:jon.wheeler7@gmail.com">
          <span class="fa fa-envelope">:&nbsp;</span>
          jon.wheeler7@gmail.com
        </a>
      </li>
      <li class="item">
        <span class="fa fa-phone">:&nbsp;</span>
        (847) 894-3475
      </li>
      <li class="item">
        <a href="https://github.com/jonwheeler" target="_blank">
          <span class="fa fa-github">:&nbsp;</span>
          JonWheeler
        </a>
      </li>
      <li class="item">
        <a href="https://twitter.com/_jonwheeler_" target="_blank">
          <span class="fa fa-twitter">:&nbsp;</span>
          @_jonwheeler_
        </a>
      </li>
    </ul>
  </div>
</div>
